@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.bub {
  width: 120px;
  flex-shrink: 0;
  margin-right: 50px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(79, 1, 119, 0.36) 1.2px 22px 30px 0px;
  position: relative;
}

.bub:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 46px;
  background-position: center;
}

.showcase {
  max-width: 640px;
  margin: auto;
  display: flex;
  width: 100%;
  padding: 30px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
}

.hljs {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  padding: 0 26px;
  border-radius: 18px;
  flex: 1;
  overflow: auto;
  line-height: 1.6;
}

pre {
  margin: 0;
  display: flex;
}

.configure {
  flex: 1;
  overflow: hidden;
}
